<app-search-bar (emitSearchTerm)="receiveSearchedTerm($event)"></app-search-bar>
<app-filter (emitSelectedFilter)="receiveLevel($event)"></app-filter>
<div class="flex">
<app-employee [selectedLevelId]="levelId" [searchedTerm]="searchedTerm"></app-employee>
<app-tools></app-tools>
</div>

