<!-- Search form -->
<div class="content">
    <div class="search-bar">
        <input class="search-bar-input" type="text" [(ngModel)]="searchedTerm" placeholder="enter your search">
        <button class="search-bar-button" (click)="searchTerm(searchedTerm)"mat-icon-button><mat-icon>search</mat-icon></button>
      </div>
    </div>
    
    
