*, *::before, *::after {
    box-sizing: border-box;
  }
  .content {
    padding: 40px;
    display: flex;
   align-items: center;
   margin-left: 180px;
   margin-right: 180px;
  }
  .search-bar {
    --size: 60px;
    border: 2px solid;
    border-color:  #f9d423;
    display: flex;
    border-radius: 100px;
    overflow: hidden;
    font-size: 1.25em;
    position: relative;
    width: var(--size);
    height: var(--size);
    transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    padding: 3px;
  }
  .search-bar-input {
    border: 0;
    padding: .25em 1em;
    flex-grow: 1;
    outline: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    opacity: 0;
    cursor: pointer;
  }
  .search-bar-button {
    font-size: 1.5rem;
    margin-left: auto;
    background: 0;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: background all 200ms ease-out;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    color:  red;
  }
  .search-bar:focus-within {
    width: 100%;
    .search-bar-input {
      opacity: 1;
      z-index: initial;
      cursor: initial;
      width: calc(100% - var(--size));
    }
    .search-bar-button {
      background: #f9d423;
      color:red ;
      box-shadow: 0 0 10px rgba(0,0,0,.15);   
      &:hover,
      &:focus {
        outline: 0;
        box-shadow: 0 0 10px ;
      }
    }
  }