.add-employee-card {
    width: 270px;
    height: 380px;
    margin: 15px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
      }
      