<div class="add-employee">
    <h1>Add a employee</h1>
        <form class="add-employee-form">
            <mat-form-field appearance="outline">
                <mat-label>Employee-name</mat-label>
                <input matInput name="employeeName" placeholder="Employee name" [(ngModel)]="name" [formControl]="empname" id="name" required />
                <mat-error *ngIf="empname.invalid">{{getErrorMessage()}}</mat-error>
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Employee-image</mat-label>
                <input matInput name="employeeImage" placeholder="Employee image" [(ngModel)]="image" id="image"  [formControl]="empImage" required />
                <mat-error *ngIf="empImage.invalid">{{getErrorMessage()}}</mat-error>
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Employee-description</mat-label>
                <textarea matInput name="employeeDescription" placeholder="Employee description" [(ngModel)]="description" [formControl]="empDescription" required></textarea>
                <mat-error *ngIf="empDescription.invalid">{{getErrorMessage()}}</mat-error>
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field class="employee-contactNumber" appearance="outline">
                <mat-label>Employee-contactNumber</mat-label>
                <input matInput name="inputEmployeeContactNumber" placeholder="Employee contactNumber" [(ngModel)]="contactNumber"  [formControl]="empContactNumber" id="contactNumber" required>
                <mat-error *ngIf="empContactNumber.invalid">{{getErrorMessage()}}</mat-error>
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" >
                <mat-label>Employee-level</mat-label>
                <mat-label>Choose a level </mat-label>
                    <mat-select [hidden]="levels" [(ngModel)]="idLevelEmployee" name="lvl" required>
                        <mat-option *ngFor="let lvl of levels" [value]="lvl.id">{{lvl.name}}</mat-option>
                    </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" >
                <mat-label>Select an option</mat-label>
                    <mat-select [(value)]="selected"  id="selected" required>
                        <mat-option>None</mat-option>
                        <mat-option value="short">{{dateCreated| date:'M/d/yy, h:mm a'}}</mat-option>
                        <mat-option value="medium">{{dateCreated| date:'yyyy-MM-dd HH:mm:ss Z'}}</mat-option>
                    </mat-select>
                </mat-form-field>
        </form>
            <button mat-raised-button (click)="add()" [disabled]="!name || !description || !contactNumber || !idLevelEmployee || !selected ">Add</button>
</div>
  
