.employee-card {
    width: 270px;
    height: 380px;
    margin: 15px;
  }
  .card-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    border-radius: 50px;
  }
  .mat-card-header {
    flex-shrink: 0;
  }
  .mat-card-content {
    flex-grow: 1;
    overflow: auto;
  }
  img {
    width: 180px;
    height: 140px;
    margin-right: 16px;
    border-radius: 40px;
  }
  .content {
    color: black;
    font-family: "Oxygen";
    font-weight: bold;
    font-size: 20px;
  }
  .dateContent{
    color: black;
    font-family: "Oxygen";
    font-weight: bold;
    font-size: 10px;
}
  

  