<div class="card-group">
    <div *ngFor="let employee of employees">
        <mat-card class="employee-card">
            <mat-card-header>
                <img mat-card-image [src]="employee.image" />
            </mat-card-header>
            <mat-card-content>
                <mat-card-content class="content">Name: {{employee.name}}</mat-card-content>
                <mat-card-content class="content">Description:  {{employee.description}}</mat-card-content>
                <mat-card-content class="content">ContactNumber:  {{employee.contactNumber}}</mat-card-content>
            </mat-card-content>
           
            <mat-card-actions >
                <div>
                  <button mat-icon-button (click)="editEmployee(employee.id)"><mat-icon>edit</mat-icon></button>
                  <button mat-icon-button (click)="deleteEmployee(employee.id)"><mat-icon>delete</mat-icon></button>
                </div>
              </mat-card-actions>
              <mat-card-content class="dateContent">dateCreated:  {{employee.dateCreated}}</mat-card-content>
        </mat-card>
        </div>
    </div>

    <button
            (click)="sortAscending(employees);"
            mat-icon-button
          >
            <mat-icon>text_rotation_angleup</mat-icon>
          </button>

          <button
          (click)="sortDescending(employees);"
          mat-icon-button
        >
          <mat-icon>text_rotation_angledown</mat-icon>
        </button>
    


