.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .filter-div {
        margin: 30px;
    }
    .color{
        background-image: linear-gradient(to top, #f83600 0%, #f9d423 100%);
        border-radius: 20px;
    }
}
