<div class="filter-container">
    <div class="filter-div" *ngFor="let level of levels">
        <button (click)="selectFilter(level.id)" class="color"
        mat-raised-button >{{level.name|uppercase}}</button> 
     </div>
</div>


