<div class="edit-employee">

    <h1 class="page-title">Edit employee</h1>
  
    <form class="edit-employee-form">
  
      <mat-form-field appearance="outline" class="employee-name">
        <mat-label>Employee-name</mat-label>
        <input matInput name="inputEmployeeName" placeholder="Employee name" [(ngModel)]="name" id="name"  [formControl]="empname"  required >
        <mat-error *ngIf="empname.invalid">{{getErrorMessage()}}</mat-error>
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="employee-image">
        <mat-label>Employee-image</mat-label>
        <input matInput name="inputEmployeeImage" placeholder="Employee image" [(ngModel)]="image" id="image"  [formControl]="empimage" required>
        <mat-error *ngIf="empimage.invalid">{{getErrorMessage()}}</mat-error>
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="employee-description">
        <mat-label>Employee-description</mat-label>
        <input matInput name="inputEmployeeDescription" placeholder="Employee description" [(ngModel)]="description" id="description"  [formControl]="empdescription" required>
        <mat-error *ngIf="empdescription.invalid">{{getErrorMessage()}}</mat-error>
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="employee-contactNumber">
        <mat-label>Employee-contanctNumber</mat-label>
        <input matInput name="inputEmployeeContactNumber" placeholder="Employee contactNumber" [(ngModel)]="contactNumber" id="contactNumber"  [formControl]="empContact" required>
        <mat-error *ngIf="empContact.invalid">{{getErrorMessage()}}</mat-error>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="employee-level">
        <mat-label>Choose a level </mat-label>
        <mat-select [hidden]="levels" [(ngModel)]="idLevelEmployee" name="lvl" id="idLevelEmployee" required >
          <mat-option *ngFor="let lvl of levels" [value]="lvl.id" >{{lvl.name}}</mat-option>
        </mat-select>
      </mat-form-field>
  
    </form>
  
    <button class="edit-employee-button" mat-raised-button color="basic" (click)="edit()" [disabled]="!name || !description || !contactNumber || !idLevelEmployee ">Save changes</button>
  
  </div>



