.edit-employee {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .page-title {
      text-align: center;
      margin-bottom: 25px;
    }
    .edit-employee-form {
      margin-left: 50px;
      width: 350px;
      display: block;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 300px;
      .employee-name {
        width: 100%;
        margin-bottom: 15px;
      }
    
      .employee-description {
        width: 100%;
        margin-bottom: 15px;
      }
      .employee-image{
        width: 100%;
        margin-bottom: 15px;
      }
      .employee-level {
        width: 100%;
        margin-bottom: 15px;
      }
      .employee-contactNumber {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .edit-employee-button {
      display: block;
      margin: 0 auto;
      margin-bottom: 25px;
    } 
  }
  